
<app-header></app-header>
<!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName">
    <span *ngIf="firstName?.hasError('required')">*</span>
    <span *ngIf="firstName?.invalid &&('firstName?.dirty || firstName?.touched')">Enter your name</span><br><br>

    <label for="last-name">Password: </label>
    <input id="password" type="text" formControlName="password">
    <span *ngIf="password?.hasError('required')">*</span>
    <span *ngIf="password?.invalid &&('password?.dirty || password?.touched')">Enter your Password</span><br><br>

    <label for="email">Email: </label>
    <input id="email" type="email" formControlName="email">
    <span *ngIf="email?.hasError('required')">*</span>
    <span *ngIf="email?.invalid &&('email?.dirty || email?.touched')">Enter your Email</span><br><br>
   
    <button>submit</button>
  </form> -->
  <!-- <form #userForm="ngForm" (ngSubmit)="addDetails(userForm.value)">
    <input type="text" placeholder="enter name" name="name" ngModel><br><br>
    <input type="password" placeholder="enter password" name="password" ngModel><br><br>
    <select name="gender" ngModel>
      <option value="">select gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select><br><br>
    <input type="range" min="0" max="20" name="range" ngModel><br><br>
    <button type="submit">Add user</button>
  </form>
  
  <h4>{{userDetails?.name}}</h4>
  <h4>{{userDetails?.password}}</h4>
  <h4>{{userDetails?.gender}}</h4>  
  <h4>{{userDetails?.range}}</h4> -->

  <!-- <button (click)="updateCounter()">Counter:{{counter}}</button>

  -->
<!-- <button (click)="getProducts()">Onload Data</button>
@for (item of productData; track item) {
  <h1>{{item.id}},{{item.name}},{{item.price}}</h1>
} -->
   <!-- <h2>{{title | uppercase}}</h2>
   <h2>{{title | titlecase}}</h2>
   <h2>{{title | lowercase}}</h2>
   <h4>{{date | date:'fullDate'}}</h4>
   <h4>{{date | date:'hh:mm:ss'}}</h4>
   <h2>{{amount | currency:'INR'}}<h2> -->
    <h1>My First Angular Project</h1>
    <div class="items">
      @for (item of productList; track item.id) {
        <ul>
          <img src="{{item.thumbnail}}" alt="">
          <li><b>Name : </b>{{item.title}}</li>
          <li><b>Price : </b>{{item.price}}</li>
          <li><b>Rating : </b>{{item.rating}}</li>
          <li><b>Category : </b>{{item.category}}</li> 
        </ul>
      }
  </div>
<router-outlet />
